@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #080808;
  --foreground: #FFFFFF;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  max-width: 100vw;
  overflow-x: hidden;
}

/* 极客风选中文本 */
::selection {
  background-color: #FF5A00;
  color: #080808;
}